* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden; 
}

.containerStart {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.027);
    position: relative;
    overflow: hidden;
}

.backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.containerOneHome img {
    width: 60vw;
    max-width: 800px;
    height: auto;
    display: block;
}

.containerTwoHome {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10rem;
}


.buttonImg {
    width: 150px;
}

.containerLoginStoresHome {
    width: 12vw;
    height: 25vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    border: 10px dashed white ;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.containerLoginStoresHome:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

.containerLoginStoresHome:active {
    transform: scale(0.95);
}

.containerLoginTueistHome {
    width: 12vw;
    height: 25vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 10px dashed white ;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.containerLoginTueistHome:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

.containerLoginTueistHome:active {
    transform: scale(0.95);
}