*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.register-kg-container { 
    width: 100vw;
    height: 100vh;
    background-image: url("../image/Fondo_Inicios2.png") ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes glowBorder {
    0% {
        box-shadow: 0 0 5px white;
    }
    50% {
        box-shadow: 0 0 20px white, 0 0 30px white;
    }
    100% {
        box-shadow: 0 0 5px white;
    }
}

.register-kg-chart {
    margin: 20px;
    background: rgb(0, 0, 0);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    position: relative;
    animation: glowBorder 2s infinite ease-in-out;
    border: 10px dashed white ;
    border-radius: 5% ;
    animation: glowBorder 2s infinite ease-in-out ;
}

.register-kg-back-container { /* Contenedor Uno */
    position: absolute;
    top: 10px;
    left: 20px;
}

.register-kg-back-icon {
    width: 40px ;
    height: auto ;
}

.register-kg-logo-container { /* Contenerdo Dos */
    display: flex ;
    justify-content: center ;
    align-items: center ;
    gap: 20px ;
}

.register-kg-logo {
    width: 300px ;
    height: auto ;
}

.register-kg-store-logo {
    width: 200px ;
    height: auto ;
}

.register-kg-form { /* Contenerdo Tres */
    display: flex ;
    align-items: center ;
    flex-direction: row ;
}

.register-kg-input-group { /* Contenedor Tres Cero */
    width: 100% ;
    gap: 10px ;
    height: 100px;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    flex-direction: row;
}

.register-kg-input {
    width: 80%;
    background-color: black ;
    color: white ;
    border: 4px solid white ; /* cambia dashed por solid */
    border-radius: 20px ;
    padding: 10px 10px ;
    font-size: 20px ;
    outline: none ;
}

.register-kg-enter-button {
    width: 50px;
    height: auto;
}

.register-kg-input::placeholder {
    color: gray;
    opacity: 0.7;
}

.register-kg-input:focus { /* Efecto cuando está en foco */
    border-color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.register-kg-submit-container { /* Contenedor Cuatro */
    width: 100% ;
    height: 70px;
    display: flex ;
    justify-content: center ;
    align-items: center ;
}

.register-kg-submit-button {
    background: linear-gradient(to right, #0057FF, #C157FF); /* Degradado azul a morado */
    color: white ;
    font-weight: bold ;
    width: 60%;
    font-size: 16px ;
    border: 2px solid white ;
    border-radius: 25px ;
    padding: 10px 25px ;
    cursor: pointer ;
    text-transform: uppercase ;
    transition: 0.3s ease-in-out ;
}

/* Efecto al pasar el mouse */
.register-kg-submit-button:hover {
    transform: scale(1.05) ;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8) ;
}

/* Efecto al presionar */
.register-kg-submit-button:active {
    transform: scale(0.95) ;
}

.register-kg-footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.register-kg-link {
    background: none;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 16px;
    font-weight: bold;
}

.register-kg-link:hover {
    color: #00c8ff;
}

.register-kg-help-container { /* Contenedor Cinco */
    height: 20vh ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
}
